html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
}

.landingpage {
    width: 100;
    height: 120%;
    background-image: url(../images/background4.jpg);
    background-size: cover;
    background-position: center;
    background-position: center top;
    background-size: cover;
}

.navigation {
    width: 100%;
    height: 73px;
    background-color: #221e5d;
    position: fixed;
    top: 0;
    z-index: 100;
}

.navigation ul {
    margin: 24px 0 0 22.5%;
}

.navigation ul li {
    padding: 0 12px;
    display: inline-block;
    text-decoration: none;
    list-style: none;
    text-align: center;
}

.navigation ul li a {
    color: white;
    font-family: verdana;
    font-size: 14px;
    letter-spacing: 1.5px;
    text-decoration: none;
}


.wrapper {
    width: 70%;
    position: absolute;
    top: 200px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.title h1 {
    color: white;
    font-size: 60px;
    font-family: sans-serif;
    text-align: center;
}

.des h1 {
    color: white;
    font-family: sans-serif;
    font-size: 60px;
    margin-top: 60px;
    text-align: center;
}

.quote {
    width: 350px;
    margin: 160px auto;
}

.quote p {
    font-size: 25px;
    color: white;

}


.servicepage {
    width: 100%;
    background-color: #221c5a;

}

.service-left-box {
    background-color: #32db8a;
    width: 30%;
    height: 300px;
    position: sticky;
    top: 73px;
}

.num-block {
    overflow: hidden;
    padding: 5px;
}

.serviceblock {
    margin: auto;
    width: 80%;
    background-color: #221c5a;
}

.service-left-box span {
    color: #55b286;
    font-size: 90px;
    margin-left: -25px;
    letter-spacing: -5px;
    line-height: 100px;
    vertical-align: baseline;
    font-family:
        Montserrat;
    font-weight: 700;
}

.service-left-box h2 {
 font-family: sans-serif;
    font-size: 80px;
    margin-left: 120px;
    word-break: break-all;
    line-height: 66px;
    color: white;
    vertical-align: baseline;
    letter-spacing: 2px;
    word-spacing: 0px;
    font-weight: 700;
}

.service-right-box {
    background-color: #ffffff;
    padding-top: 5px;
    float: right;
    width: calc(100% - 30%);
}

.again {
    width: 100%;
    overflow: auto;
}

.service-right-box img {
    height: 80px;
    width: 80px;
    margin-left: 150px;
}

.service-right-box h1 {
    font-family:montserrat;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    margin-top: 30px;
    line-height: 66px;
    vertical-align: baseline;
}

.service-right-box p {
font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-align:left;
    margin-top: 40px;
    padding: 20px;
    line-height: 26px;
    
}

.box1,
.box3 {
    width: 50%;
    float: left;
}

.box2,
.box4 {
    width: 50%;
    display: inline-block;
}


.portfoliopage {
    width: 100%;
    background-image: url(../images/photon.jpg);
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
}

.portfolio-block {
    width: 80%;
    margin: auto;
}

.portfolio-right-box {
    width: 30%;
    background-color: #ffba42;
    height: 300px;
    float: right;
    position: sticky;
    top:73px;
}

.num2-block {
    overflow: hidden;
}

.num2-block span {
    color: #e3a436;
    font-size: 90px;
    margin-left: -25px;
    font-family: montserrat;
    font-weight: bolder;
}

.portfolio-right-box h1 {
 font-family: sans-serif;
    font-size: 80px;
    margin:90px 0 0 120px;
    word-break: break-all;
    line-height: 66px;
    color: white;
    vertical-align: baseline;
    letter-spacing: -1px;
    word-spacing: 0px;
    font-weight: 700;
}
.portfolio-left-box{
    width: 70%;
}
.pic1{
    clear:both;
}
.pic1 img {
    width: 100%;
    height: 450px;
    background-color: black;
}

.pic2 img {
    height: 380px;
    background-color: aqua;
    width: 100%;

}

.pic2 {
    float: left;
    margin-top: -5px;
    width: 50%;
    
}

.pic3 img {
    height: 380px;
    width:100%;
    background-color: red;

}

.pic3 {
    display: inline-block;
    margin-top: -5px;
    width: 50%;
}

.pic4 img {
    width: 100%;
    height: 450px;
    background-color: black;
    margin-top: -5px;
}

.loadmore {
    width: 50%;
    height: 100px;
    background-color: #e74c78;  
    margin:-5px 0 0 377px;
    
   
}
.loadmore a {
    font-family: verdana;
    font-size: 24px;
    margin: 10px 0 0 130px;
    text-decoration: none;
    color: black;
    font-weight: bolder;
    line-height: 40px;
}

.loadmore img {
    height: 70px;
    width: 70px;
    margin-left: 170px;
}


.crafters {
    width: 100%;
    background-image: url(../images/background6.jpg);
    background-size: cover;
    background-position: center top;
    
}

.crafters-block {
    width: 80%;
    margin: auto;
    
}

.crafters-left-box {
    width: 30%;
    height: 300px;
    background-color: #e74c78;
    position: sticky;
    top:73px;
}

.num3-block {
    overflow: hidden;
}

.num3-block span {
    font-family: montserrat;
    font-size: 90px;
    color: #b24564;
    margin-left: -25px;
    font-weight: bolder;
}

.crafters-left-box h1 {
    font-family: sans-serif;
    font-size: 80px;
    margin-left: 120px;
    word-break: break-all;
    line-height: 66px;
    color: white;
    vertical-align: baseline;
    letter-spacing: -1px;
    word-spacing: 0px;
    font-weight: 700;
}
.crafters-right-box{
    width: 70%;
 margin-left: calc(100% - 70%);

}


.about {
    background-color: #ffffff; 
    
}

.abtitle {
    overflow: hidden;
}

.abtitle h2 {
    font-family: montserrat;
    font-size: 140px;
    text-align: center;
    line-height: 140px;
    vertical-align: baseline;
    font-weight: bolder;
    color: #221c5a;
    margin-top: -45px;
}

.support {
    width: 200px;
    margin-left: 100px;
}

.about h1 {
    	
font-family:
Montserrat, sans-serif;
    font-size: 24px;
    color: black;
    margin:-50px 0 0 100px;
    line-height: 26px;
    font-weight: 400px;
}

.about p {
font-family:
Roboto, sans-serif;
    font-size: 18px;
    color: grey;
    padding: 13px;
    line-height: 26px;
}

.about img {
    height: 60px;
    width: 60px;
    padding-top: 5px;
}

.carrerfocused {
    width: 200px;
    margin-left: 200px;
}

.employement {
    width: 200px;
    margin-left: 300px;
}

.discover {
    width: 200px;
    margin-left: 400px;
}

.container img {
    width: 100%;
    height: 400px;
}

.arrow {
    height: 60px;
    width: 60px;
    position: relative;
    top: -300px;
    background-image: url(../images/navigation_arrows_right.svg);
    background-size: cover;
    background-position: center top;
}

.grid1 {
    width: 50%;
    height: 400px;
    float: left;

}

.grid2 img {
    width: 50%;
    height: 400px;
    display: inline-block;
    margin-top: -70px;
}
.info{
    height: 335px;
    width: 100%;
}
.grid1 h1 {
    margin: 10px 0 0 40px;
    color: black;
    font-family: sans-serif;
    font-size: 18px;
}

.grid1 h2 {
    margin: 10px 0 0 40px;
    color: #e74c78;
    font-family: sans-serif;
    font-size: 18px;
}
.project{
    width: 100%;
    background-image: url(../images/background7.jpg);
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
}
.projectblock{
    width: 80%;
    margin: auto;
}
.projectright{
    width: 30%;
    height: 300px;
  float: right;
    background-color: #32db8a;
    position: sticky;
    top:73px;
}
.num4block{
    overflow: hidden;
}
.num4block span{
      color: #55b286;
    font-size: 100px;
    line-height: 100px;
    letter-spacing: -5px;
    margin-left: -30px;
    font-family: montserrat;
    font-weight: bolder;
}
.projectright h1{
       font-family: sans-serif;
    font-size: 80px;
    margin:100px 0 0 120px;
    word-break: break-all;
    line-height: 66px;
    color: white;
    vertical-align: baseline;
    letter-spacing: 3px;
    word-spacing: 0px;
    font-weight: 700;
}

.projectleft{
    width: 70%;
    clear:both;
    background-color: #ffffff;

}
.cover1,.cover3{
    width: 40%;
    margin: 10% 0 0 5%;
    float: left;
}
.cover2,.cover4{
    width: 40%;
    display: inline-block;
      margin: 10% 0 0 5%;
}
.cover5{
    width: 40%;
         margin: 7% 0 -5% 5%;
    float: left;
    clear:left;
    height: 350px;
}
.cover6{
    width: 40%;
         margin: 10% 0 -5% 5%;
    display: inline-block;
    height: 350px;
}
.projectleft h1{
    font-size: 24px;
    line-height: 26px;
    font-family: montserrat;
    vertical-align: baseline;
    font-weight: 400;
    text-align: left;
}
.projectleft p{
    font-size: 18px;
    font-family:Roboto, sans-serif;
    line-height: 26px;
    text-align: left;
}
.projectleft img{
    height: 60px;
    width: 60px;
}
.complimentpage{
    width: 100%;
    background-color: #221c5a;
    height: 115%;
}
.para{
    text-align: left;
    width: 550px;
    font-size: 24px;
    line-height: 45px;
    vertical-align: baseline;
    color:white;
    font-family: roboto,sans-serif;
    position: absolute;
    left: 200px;
   margin-top: 100px;
}
.name{
    font-family: robotot,sans-serif;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 3px;
    font-weight: 400;
    position: absolute;
    left:200px;
    margin-top: 500px;
    color:white;
}
.image{
    width: 50px;
    height: 50px;
    position: relative;
    left: 200px;
    top:570px;
    background-image: url(../images/navigation_arrows_right.svg);
}
.contact{
    width: 100%;
    height: 220%;
    background-image: url(../images/background8.jpg);
    background-position: center top;
    background-size: cover;
}
.contactblock{
    width: 80%;
    margin:auto;
}
.contactleft{
    width: 30%;
    height: 300px;
    background-color: #e64b77;
    position: sticky;
    top:73px;
}
.num5block{
    overflow:hidden;
}
.contactleft span{
        color: #b24564;
    font-size: 100px;
    line-height: 100px;
    letter-spacing: -5px;
    margin-left: -30px;
    font-family: montserrat;
    font-weight: bolder;
}
.contactleft h1{
       font-family: sans-serif;
    font-size: 80px;
    margin:100px 0 0 120px;
    word-break: break-all;
    line-height: 66px;
    color: white;
    vertical-align: baseline;
    letter-spacing: 3px;
    word-spacing: 0px;
    font-weight: 700; 
}
.contact-right{
    width: 70%;
   margin-left: calc(100% - 70%);
    background-color: #ffffff;
   overflow: auto;
}
.boxcontent{
    width: 40%;
    float:left;
    margin-left:50px;
}
.boxcontent h1{
    color:#e64b77;
    text-align:left; 
    font-family: roboto,sans-serif;
    font-size: 22px;
    font-weight:bolder;
    line-height: 26px;
    margin-top: 40px
}

.boxcontent p{
       text-align: left;
    font-family: roboto,sans-serif;
    font-size: 20px;
    line-height: 26px;
margin-top: 25px;
}
.detcont p{
           text-align: left;
    font-family: roboto,sans-serif;
    font-size: 20px;
    line-height: 26px;
    border-bottom: 2px solid #e64b77;
    color:grey;
    width: 300px;  
        
}
.details{
    margin:30px 0 0 30px; 
    display: inline-block;
}
.button{
    width: 300px;
    height: 50px;
border:2px solid #e64b77;
    font-family: montserrat;
    line-height: 10px;
    font-size: 20px;
    text-align:center;
    margin-top: 40px;
    color:#e64b77;
}
.button:hover{
    color:white;
    background-color: #e64b77;
    transition:.8s;
}
.imagemap{
width: 100%;
    height: 400px;
    margin-top: 100px;
    background-image: url(../images/map.png);
}
.copyright{
    width: 100%;
    background-color: 221c5a;
    margin:-140px auto;
    text-align: center;
    font-size: 13px;
    font-family: roboto;
    color:#5b5881;
    line-height: 36px;
    
}
.footlinks{
    width: 300px;
    height: 70px;
    position: absolute;
    left: 42%;
    margin-top: 130px;
 
}
.footlinks img{
    width: 40px;
    height: 40px;
    padding:2px;
}