html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
}

.landingpage {
    width: 100;
    height: 120%;
    background-image: url(../images/background4.jpg);
    background-size: cover;
    background-position: center;
    background-position: center top;
    background-size: cover;
}

.navigation {
    width: 100%;
    height: 73px;
    background-color: #221e5d;
    position: fixed;
    top: 0;
    z-index: 100;
}

.navigation ul {
    margin: 24px 0 0 22.5%;
}

.navigation ul li {
    padding: 0 12px;
    display: inline-block;
    text-decoration: none;
    list-style: none;
    text-align: center;
}

.navigation ul li a {
    color: white;
    font-family: verdana;
    font-size: 14px;
    letter-spacing: 1.5px;
    text-decoration: none;
}


.wrapper{
    width:70%;
    position: absolute;
    top:200px;
    left:0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.title h1 {
    color: white;
    font-size: 60px;
    font-family: sans-serif;
    text-align: center;
}
.des h1 {
    color: white;
    font-family: sans-serif;
    font-size: 60px;
    margin-top: 60px;
    text-align: center;
}

.quote {
    width: 350px;
    margin: 160px auto;
}

.quote p {
    font-size: 25px;
    color: white;

}


.servicepage{
    width: 100%;
    background-color:#221c5a;

}
.service-left-box{
    background-color: #32db8a;
    width: 30%;
    height:300px;
    position:sticky;
    top:73px;
}
.num-block{
         overflow: hidden;
         padding:5px;
}

.serviceblock{
    margin:auto;
    width: 80%;
    background-color: #221c5a;
}

.service-left-box span{
    color:#55b286;
    font-size: 90px;
    margin-left:-25px;
    font-family: sans-serif;
    font-weight:bolder;
}
.service-left-box h2{
    font-family: 'Montserrat', sans-serif;
    font-size:85px;
    margin-left:120px;
    word-break: break-all;
    line-height: 80px;
    color:white;
    font-weight: 700;
    text-decoration:
none solid rgb(255, 255, 255);
    word-spacing: 0;
    letter-spacing: -3;
}
.service-right-box{
    background-color: #ffffff; 
    padding-top:5px;
    float: right;
    width: calc(100% - 324px);
}
.again{
    width: 100%;
    overflow: auto;
}

.service-right-box img{
height: 80px;
width: 80px;
margin-left: 150px;    
}
.service-right-box h1{
    font-family: lucida;
    font-size:25px;
text-align: center;
    margin-top: 30px;
    line-height: 66px;
    vertical-align: baseline;
    letter-spacing: -3px;

    
}
.service-right-box p{
font-family: sans-serif;
font-size: 21px;
text-align: center;
    margin-top: 40px;
    padding:20px;
}
.box1,.box3{
    width: 50%;
    float:left;
}
.box2,.box4{
     width: 50%;
   display: inline-block;
}


.portfoliopage{
    width: 100%;
    background-image: url(../images/photon.jpg);
    background-size: cover;
    background-position:top center;
    background-attachment: fixed;
    height: 255%;
   
}

.portfolio-block{
    width: 80%;
    margin: auto;
     height: 255%;
}
.portfolio-right-box{
    width: 30%;
    background-color: #ffba42;
    height:300px;
    float: right;
    position: sticky;
}

.num2-block{
    overflow:hidden;
}
.num2-block span{
       color:#e3a436;
    font-size: 90px;
    margin-left:-25px;
    font-family: sans-serif;
    font-weight:bolder;
}
.portfolio-right-box h1{
       font-family: sans-serif;
    font-size:85px;
    margin-left:120px;
    word-break: break-all;
    line-height: 80px;
    color:white;
    }

.pic1 img{
    width: 70%;
    height: 450px;
    background-color: black;
}
.pic1{
    clear: right;
}
.pic2 img{
    width:100%;
    height: 380px;
    background-color: aqua;

}
.pic2{
    float: left;
    margin-top: -5px;
}
.pic3 img{
    width: 88.8%;
    height: 380px;
    background-color: red;    
  
}
.pic3{
    display: inline-block;
    margin-top: -5px;
}
.pic4 img{
    width: 70%;
    height: 450px;
    background-color: black;
    margin-top: -5px;
}
.loadmore{
    width: 40%;
    height: 120px;
    background-color:#e74c78;
    margin:-5px 0 0 323px;

}
.loadmore a{
    font-family: verdana;
    font-size: 24px;
    margin: 10px 0 0 130px;
    text-decoration: none;
    color:black;
    font-weight: bolder;
    padding-top:20px;

}

.loadmore img{
    height: 70px;
    width: 70px;
    margin-left: 170px;
}


.crafters{
    width: 100%;
    background-image: url(../images/background6.jpg);
    background-size: cover;
    background-position: center top;
    
}
.crafters-block{
    width: 80%;
    margin: auto; 
    overflow: hidden;
}
.crafters-left-box{
    width: 30%;
    height: 300px;
    background-color:#e74c78;
    position: sticky;
    
}
.num3-block{
    overflow: hidden;
}
.num3-block span{
    font-family: sans-serif;
    font-size: 90px;
    color:#b24564;
    margin-left: -25px;
    font-weight: bolder;
}
.crafters-left-box h1{
       font-family: sans-serif;
    font-size:85px;
    margin-left:120px;
    word-break: break-all;
    line-height: 80px;
    color:white;
}

.about{
    width:70%;
    background-color:#ffffff;
    float:right;    
}
.abtitle{
 overflow:hidden;
}
.abtitle h1{
    font-family: verdana;
    font-size: 130px;
    text-align: center;
    margin-top: -55px;
    color:#221c5a;
}
.support{
    width: 200px;
    margin-left: 100px;
}
.about h1{
    font-family: verdana;
    font-size: 22px;
    color:black;
    margin: -60px 0 0 120px;
}
.about p{
    font-family: sans-serif;
    font-size: 20px;
    color:grey;
    padding:13px;
}
.about img{
    height: 100px;
    width: 100px;
    padding-top: 5px;    
}
.carrerfocused{
    width: 200px;
    margin-left: 200px;
}
.employement{
    width: 200px;
    margin-left: 300px;
}
.discover{
    width: 200px;
    margin-left: 400px;
}
.container img{
    width: 100%;
    height: 400px;
}
.arrow{
    height: 60px;
    width: 60px;
    position: relative;
    top:-300px;
    background-image: url(../images/navigation_arrows_right.svg);
    background-size: cover;
    background-position: center top;
}
.grid1{
    width: 50%;
    height: 300px;
    float: left;
    
}
.grid2 img{
    width: 50%;
    height: 400px;
    display: inline-block;
    margin-top: -70px;
}
.grid1 h1{
    margin:10px 0 0  40px;
    color:black;
    font-family: sans-serif;
    font-size: 18px;
}
.grid1 h2{
    margin:10px 0 0  40px;
    color:#e74c78;
    font-family: sans-serif;
    font-size: 18px;
}


